<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav fontStyle navbarFont">
        <!-- <li style="margin: 0 -80px 0 0;"><img src="assets/img/logo.png" class="logo"></li> -->
        <li><a href="javascript: void(0);"
            (click)="loadScreen('dashboard')" title="Will work">Dashboard</a></li>
        <li><a href="javascript: void(0);"
            (click)="loadScreen('menu1')" title="Will work">Menu 1</a></li>        
        <li><a href="#" title="Will not work">Menu 2</a></li>
        <li><a href="#" title="Will not work">Menu 3</a></li>
        <li><a href="#" title="Will not work">Menu 4</a></li>
        <li><a href="javascript: void(0);"
            (click)="loadScreen('contact')" title="Will work">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-th"></span></a></li>
        <li><a href="#"><i class="fa fa-bell"></i><span class="counter counter-lg">99</span></a></li> -->
        <li><a href="#" class="userNameStyle">Logout</a></li>
      </ul>
    </div>
  </nav>
  